@media (max-width: 425px) {
  .google-img {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .app-img {
    margin-top: -2rem;
  }

  .center {
    text-align: center;
  }

  .contact-box {
    margin-top:2rem ;
  }

  .margin-equal {
    margin-top: 1rem;
  }

  .margin-socials {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .support-flex-container {
    flex-direction: column;
  }
  .margin-follow {
    margin-top: 2.5rem;
  }

  .support {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .payment {
    justify-content: center;
    align-items: center;
  }
  .support-img {
    width: 50%;
    margin: auto;
  }
  .socials {
    justify-content: center;
  }

  .img-flex {
    flex-direction: column-reverse;
    width: 65%;
    margin: auto;
  }
}

@media (max-width: 768px) {
 .img-flex{
  margin-top: 2rem;
 }

 .contact-box {
  margin-top:2rem ;
}

.margin-follow {
  margin-top: 2rem;
  padding-bottom: 2rem;
}


}